*{
    margin:0px ;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    
}

#navbar{
    width: 100%;
    background-color: #be3144;
    font-size: 1.8rem;
    font-weight: 400;
    
}

#navlist{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 2rem;
  
}
li{
    padding: 20px;
    color: white;
}
li:hover{
    background-color: #45567d;
}
footer{
    background-color: #303841;
    font-weight: 200;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    color: white;
    border-top: 4px solid #be3144;


}